<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="Gallery.SiteRoot" value="http://nuget.qa/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="Gallery.Brand" value="Colours Dev NuGet Gallery" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="Gallery.GalleryOwner" value="Colours &lt;a.kuryan@colours.nl&gt;" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters xdt:Transform="Replace">
        <parameter value="Data Source=lecbydb1\sql2014;Initial Catalog=QA_NugetGallery;User ID=sa;password=lectric; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="Gallery.SqlServer" connectionString="Data Source=lecbydb1\sql2014;Initial Catalog=QA_NugetGallery;User ID=sa;password=lectric" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>