<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Gallery.Environment" value="Production" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
        <add key="Gallery.SiteRoot" value="http://nuget.colours.nl/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
        <add key="Gallery.Brand" value="Colours NuGet Gallery" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
        <add key="Gallery.GalleryOwner" value="Colours &lt;a.kuryan@colours.nl&gt;" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>

    </appSettings>  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
            <parameters xdt:Transform="Replace">
                <parameter value="Data Source=colours-db-001.kantoor.tld;Initial Catalog=NugetGallery-prod;User ID=nuget;password=nu4fet346gallery; MultipleActiveResultSets=True" />
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
    <connectionStrings>
        <add name="Gallery.SqlServer" connectionString="Data Source=colours-db-001.kantoor.tld;Initial Catalog=NugetGallery-prod;User ID=nuget;password=nu4fet346gallery" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>
